.intro_ts_1_0_0 {
    margin-top: 110px;
    &__box {
        margin-bottom: 120px;
    }
    &__title {
        font-family: var(--beBold);
        font-size: 22px;
        color: #dc7d31;
    }
    &__titleSmall {
        font-size: 20px;
        font-family: var(--beRegular);
        color: #dc7d31;
        margin-top: 0;
    }
    &__text {
        font-size: 16px;
        font-family: var(--beRegular);
        text-align: justify;
        line-height: 1.8;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}