.video_ts_1_0_0 {
    margin: 20px;
    &__title {
        margin: 0px;
        padding: 20px 0 10px 0;
        text-align: center;
        text-transform: uppercase;
        color: #dc5431;
        font-family: var(--beBold);
        font-size: 35px;
    }
    &__subTitle {
        font-size: 16px;
        font-family: var(--beRegular);
        text-align: center;
        margin-bottom: 20px;
    }
    &__item {
        position: relative;
    }
    &__icon {
        position: absolute;
        width: 66px;
        left: 162px;
        top: 70px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__pic {
        width: 360px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__titleVideo {
        font-size: 16px;
        font-family: var(--beBold);
        text-transform: uppercase;
        line-height: 1.6;
    }
    @media (max-width: 1024px) {
        &__pic {
            width: 290px;
        }
        &__icon {
            left: 128px;
            top: 52px;
        }
    }
    @media (max-width: 820px) {
        &__pic {
            width: 100%;
        }
        &__icon {
            left: 313px;
            top: 152px;
            width: 120px;
        }
        &__titleVideo {
            font-size: 22px;
        }
    }
    @media (max-width: 414px) {
        &__icon {
            left: 166px;
            top: 78px;
            width: 80px;
        }
        &__titleVideo {
            font-size: 20px;
        }
    }
    @media (max-width: 390px) {
        &__icon {
            left: 150px;
            top: 68px;
        }
    }
}