.productDetail_ts_1_0_0 {
    margin: 100px 0;
    &__pic {
        width: 300px;
        display: block;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__name {
        font-size: 25px;
        font-family: var(--beBold);
        text-transform: uppercase;
        color: #dc5431;
    }
    &__info {
        font-family: var(--beRegular);
        font-size: 15px;
        span {
            color: #dc5431;
            font-weight: 600;
        }
    }
    &__contact {
        font-size: 22px;
        font-family: var(--beBold);
        color: #f49a1b;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        padding: 15px 0;
    }
    &__policyTitle {
        margin-top: 10px;
        font-family: var(--beRegular);
        font-size: 16px;
        font-weight: 600;
    }
    &__policyText {
        font-family: var(--beRegular);
        font-size: 15px;
    }
    &__describe {
        margin-top: 22px;
    }
    &__descTitle {
        text-align: center;
        font-family: var(--beBold);
        color: #dc5431;
        font-size: 18px;
        border-top: 2px solid #dc5431;
        width: 6%;
        display: block;
        margin: 10px auto;
    }
    &__descText {
        font-family: var(--beRegular);
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }
    @media (max-width: 820px) {
        &__pic {
            width: 270px;
        }
        &__descTitle {
            width: 10%;
        }
    }
    @media (max-width: 414px) {
        &__pic {
            width: 240px;
        }
        &__descTitle {
            width: 20%;
        }
    }
}